{% extends "tasks/base.html"%} 
{% block content%}
<div class="row">
<h5 class="text-secondary">All available: {{total}} tasks</h5>
<!--creating task creating form-->
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<!---->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task name</th>
      <th scope="col">Task Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
{% for data in alltasks %}
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.description}}</td>
      {% if data.task_status == "Closed"%}
      <td><p class="text-primary">{{data.task_status}}</p></td>
      {% else%}
      <td><p class="text-secondary">{{data.task_status}}</p></td>
      {% endif%}
    </tr>
{% endfor %}
  </tbody>
</table>

    </div>
{% endblock %}